<!DOCTYPE html>
<html lang="en">
<head>
  <%- include partials/_header.ejs %>
</head>

<body>
  <a href="u/<% shortURL %>">http://tinyapp.com/u/<%= shortURL %></a>
  <%= longURL + " :" + " " + shortURL%>
  <form action="/urls/<%= shortURL %>" method="post">
  <p>
    <label for="long-url-input">long URL</label>
    <input id="long-url-input" name="newLongUrl" value="<%= longURL %>">
  </p>
  <p>
    <button>Update</button>
  </p>
  
  </form>
  <form action="/urls/<%= shortURL %>/delete" method="POST">
       <button>Delete</button>
       </form>

</body>

</html>